.users-icon{
    background:ghostwhite;
    padding:20px;
    border-radius: 50%;
    font-size:20px;
}
.a,span{
 text-decoration:none;
font-size:20px;
padding:0 20px;
position:relative;
cursor:pointer;
letter-spacing: 0.5px;
}
.a:before,
.a:after{
    content: "";
    position:absolute;
    height:1px;
    width: 0;
    background:greenyellow;
    transition:.5s;    
}
.a:before{
    right:0;
    top:-10px;
}
.a:after{
    left:0;
    bottom:-10px;
}
.a:hover:after{
    width:100%; 
}